@media (max-width: 900px){
    .blogs-main-new{
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
    .blogs-news-img-container{
        grid-row: 2;
    }
    .blogs-news-info-container{
        grid-column: 1;
        grid-row: 3;
    }
    .blogs-post-container .post-container{
        max-width: 45%;
    }

}
@media (max-width: 600px){
    .blogs-post-container .post-container{
        max-width: 95%;
    }
}